.twitterIcon {
    width: 30px;
    height: 30px;
    background-position: 0 -45px;
		margin-right: 20px;
}
.facebookIcon {
    width: 30px;
    height: 30px;
    background-position: 0 -45px;
		margin-right: 20px;
}
.instagramIcon {
    width: 30px;
    height: 30px;
    background-position: 0 -45px;
}
.wt-top-buffer{
	margin-top:10px;
}
.wt-copyright{
	line-height: 40px;
	float: right;
}
.wt-footer{
	font:13px Arial, Helvetica, sans-serif;
}

/* The first bar */

.wt-footer .wt-footer-bar{
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
}

.wt-footer .wt-footer-bar a {
	color: #ffffff;
	text-decoration: none;
}

.wt-footer .wt-footer-bar nav {
	font:14px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.wt-footer .wt-footer-bar nav a{
	display: inline-block;
	padding: 0 5px;
	opacity: 0.9;
	text-decoration:none;
	line-height: 1;
}

.wt-footer .wt-footer-bar nav a:hover {
	opacity: 1;
}

.wt-footer .wt-footer-bar nav a.selected {
	border-radius: 2px;
	background-color: #2B5773;
	padding: 8px 12px;
}

/*	Making the header responsive. Remove these styles, if
	you don't need the header to work on mobile devices. */

@media all and (max-width: 600px) {

	.wt-footer .wt-footer-bar{
		padding:20px 0;
	}

	.wt-footer .wt-footer-bar h1 {
		float: none;
		margin: -8px 0 2px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.wt-footer .wt-footer-bar nav {
		margin: 0;
		float: none;
		font-size:13px;
	}

	.wt-footer .wt-footer-bar nav a.selected {
		padding: 5px 8px;
	}

	.wt-footer .wt-footer-bar .logout-button {
		display: none;
	}

}
