<div>
  <div class="thumbnail_landing width1050inside">
       <ul style="margin-left: 95px; margin-top:35px;">
         <li class="detail_main">
           <a href="http://www.cafecoffeeday.com/cafe-menu/food/">
           <div class="menu_head"><img src="images/food_head.jpg"></div>
           <div class="padding10">
           <div class="menu_head"><img src="images/food_img.jpg"></div>
           </div>

           </a>
       <div class="caption alignment" style="display: none;">
         <a href="http://www.cafecoffeeday.com/cafe-menu/food/" class="product_detail" style="background:none;">A big breakfast to kick start your day, a quick
bite for on-the-go or a treat for your midnight
munchies, and a lot more for you to explore.
</a>
           <p style="clear:both;"></p>
       </div>

           </li>
           <li class="detail_main">
           <a href="http://www.cafecoffeeday.com/cafe-menu/beverages/">
           <div class="menu_head"><img src="images/beverages_head.jpg"></div>
           <div class="padding10">
           <div class="menu_head"><img src="images/bev_img.jpg"></div>
           </div>
           </a>
       <div class="caption alignment" style="display: none;">
         <a href="http://www.cafecoffeeday.com/cafe-menu/beverages/" class="product_detail" style="background:none;">Sweet ,chocolaty, sour, hot, cold or frozen
-We've got it all, just pick your mood!
</a>
           <p style="clear:both;"></p>
       </div>

           </li>
       </ul>
      </div>
  </div>
