<header class="wt-footer">

<div class="wt-footer-bar">

    <div class="col-md-3 col-xs-40">
         <strong>FOLLOW US</strong>
         <div class="row wt-top-buffer">
           <a target="wt-twitter-redirect" href="https://twitter.com/GoFroit"><img src="images/twitter.png" class="twitterIcon"></img></a>
           <a target="wt-facebook-redirect" href="https://www.facebook.com/GoFroIt"><img src="images/facebook.png" class="facebookIcon"></img></a>
           <a target="wt-instagram-redirect" href="https://www.instagram.com/gofro_it/"><img src="images/instagram.png" class="instagramIcon"></img></a>
         </div>
     </div>

<div class="col-md-6">
  <nav>
    <a href="#">Terms and Conditions</a>
    <a href="#">Privacy Policy</a>
    <a href="#">XXXX</a>
    <a href="#">XXXX</a>
  </nav>
  </div>
<div class="col-md-3">
  <em class="wt-copyright"><span>Copyright </span><span class="coloredTxt"> © WORLDTRAVOLUTION </span></em>
</div>
</div>
</header>
